.idea/*
.workspace/
node_modules/
**/node_modules/

*.swp
**.DS_Store

cache.buildArtifact
.nyc_output
nyc-reports
**/.nyc_output
**/nyc-reports
*lerna-debug.log
lerna-debug.log
yarn-*.log

**/dist/*
emojis/*
tests/tmp
tmp/


