[class^="emojis-"], [class*=" emojis-"] {
    background: transparent url("emojis/apple/apple.png") 0 0 no-repeat;
    display: inline-block;
    height: 48px;
    background-size: 72px 72px;
    width: 48px;
    vertical-align: middle;
}

.emojis-grinning-face {
    background-position: -24px -24px;
}
.emojis-winking-face {
    background-position: -48px -0px;
}
.emojis-father-christmas {
    background-position: -48px -24px;
}
.emojis-father-christmas-type-1-2 {
    background-position: -0px -48px;
}
.emojis-father-christmas-type-3 {
    background-position: -24px -48px;
}
.emojis-father-christmas-type-4 {
    background-position: -0px -24px;
}
.emojis-father-christmas-type-5 {
    background-position: -0px -0px;
}
.emojis-father-christmas-type-6 {
    background-position: -24px -0px;
}
