$categoriesListHeight: 24.5rem;
$categoriesListWidth: 26rem;
$categoriesTabsHeight: 3rem;
$colorGreen: #1bc74e;

.emojisPopupContainer {
    width: $categoriesListWidth;
    height: $categoriesListHeight + $categoriesTabsHeight;
    padding: 0;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .emojisPopupCategoriesContainer {
        height: $categoriesListHeight;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
    }

    .emojisPopupCategory {
        margin: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .emojisPopupCategories {
        border-top: 1px solid #c5c9cf;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        height: $categoriesTabsHeight;
    }

    .emojisPopupEmojiCategory {
        position: relative;

        button {
            background-color: transparent;
            border: 0;
            margin: 0;
            padding: 0.6rem;
            cursor: pointer;
        }

        .emojisPopupEmojiCategoryIcon {
            width: 16px;
            height: 16px;
            fill: #707689;
        }

        .emojisPopupEmojiCategoryDot {
            position: absolute;
            display: inline-block;
            width: 4px;
            height: 4px;
            background-color: transparent;
            border-radius: 50%;
            bottom: 0;
            left: 50%;
            margin-left: -2px;
        }

        &:last-child {
            padding-right: 0;
        }

        &.selected {
            .emojisPopupEmojiCategoryIcon {
                fill: $colorGreen;
            }

            .emojisPopupEmojiCategoryDot {
                background-color: $colorGreen;
            }
        }
    }
}
