$emojiCharSize: 24px;

[class^="emojis-"], [class*=" emojis-"] {
    background: transparent url("https://cdn.jsdelivr.net/gh/arthur-feral/emogeez@latest/packages/emogeez-generator/emojis/emojipedia/emojipedia.png") 0 0 no-repeat;
    display: inline-block;
    height: $emojiCharSize;
    background-size: 288px 288px;
    width: $emojiCharSize;
    vertical-align: middle;
}

.emojis-rolling-on-the-floor-laughing {
    background-position: -24px -0px;
}
.emojis-grinning-face-with-star-eyes {
    background-position: -192px -72px;
}
.emojis-face-with-one-eyebrow-raised {
    background-position: -0px -24px;
}
.emojis-drooling-face {
    background-position: -24px -24px;
}
.emojis-shocked-face-with-exploding-head {
    background-position: -48px -0px;
}
.emojis-grinning-face-with-one-large-and-one-small-eye {
    background-position: -48px -24px;
}
.emojis-serious-face-with-symbols-covering-mouth {
    background-position: -0px -48px;
}
.emojis-nauseated-face {
    background-position: -24px -48px;
}
.emojis-face-with-open-mouth-vomiting {
    background-position: -48px -48px;
}
.emojis-sneezing-face {
    background-position: -72px -0px;
}
.emojis-face-with-cowboy-hat {
    background-position: -72px -24px;
}
.emojis-clown-face {
    background-position: -72px -48px;
}
.emojis-lying-face {
    background-position: -0px -72px;
}
.emojis-face-with-finger-covering-closed-lips {
    background-position: -24px -72px;
}
.emojis-smiling-face-with-smiling-eyes-and-hand-covering-mouth {
    background-position: -48px -72px;
}
.emojis-face-with-monocle {
    background-position: -72px -72px;
}
.emojis-prince {
    background-position: -96px -0px;
}
.emojis-person-with-headscarf {
    background-position: -96px -24px;
}
.emojis-bearded-person {
    background-position: -96px -48px;
}
.emojis-man-in-tuxedo {
    background-position: -96px -72px;
}
.emojis-pregnant-woman {
    background-position: -0px -96px;
}
.emojis-breast-feeding {
    background-position: -24px -96px;
}
.emojis-mother-christmas {
    background-position: -48px -96px;
}
.emojis-woman-mage {
    background-position: -72px -96px;
}
.emojis-man-mage {
    background-position: -96px -96px;
}
.emojis-woman-fairy {
    background-position: -120px -0px;
}
.emojis-man-fairy {
    background-position: -120px -24px;
}
.emojis-woman-vampire {
    background-position: -120px -48px;
}
.emojis-man-vampire {
    background-position: -120px -72px;
}
.emojis-merwoman {
    background-position: -120px -96px;
}
.emojis-merman {
    background-position: -0px -120px;
}
.emojis-woman-elf {
    background-position: -24px -120px;
}
.emojis-man-elf {
    background-position: -48px -120px;
}
.emojis-woman-genie {
    background-position: -72px -120px;
}
.emojis-man-genie {
    background-position: -96px -120px;
}
.emojis-woman-zombie {
    background-position: -120px -120px;
}
.emojis-man-zombie {
    background-position: -144px -0px;
}
.emojis-face-palm {
    background-position: -144px -24px;
}
.emojis-shrug {
    background-position: -144px -48px;
}
.emojis-man-dancing {
    background-position: -144px -72px;
}
.emojis-woman-in-steamy-room {
    background-position: -144px -96px;
}
.emojis-man-in-steamy-room {
    background-position: -144px -120px;
}
.emojis-selfie {
    background-position: -0px -144px;
}
.emojis-hand-with-index-and-middle-fingers-crossed {
    background-position: -24px -144px;
}
.emojis-left-facing-fist {
    background-position: -48px -144px;
}
.emojis-right-facing-fist {
    background-position: -72px -144px;
}
.emojis-raised-back-of-hand {
    background-position: -96px -144px;
}
.emojis-i-love-you-hand-sign {
    background-position: -120px -144px;
}
.emojis-palms-up-together {
    background-position: -144px -144px;
}
.emojis-handshake {
    background-position: -168px -0px;
}
.emojis-brain {
    background-position: -168px -24px;
}
.emojis-scarf {
    background-position: -168px -48px;
}
.emojis-gloves {
    background-position: -168px -72px;
}
.emojis-coat {
    background-position: -168px -96px;
}
.emojis-socks {
    background-position: -168px -120px;
}
.emojis-billed-cap {
    background-position: -168px -144px;
}
.emojis-gorilla {
    background-position: -0px -168px;
}
.emojis-fox-face {
    background-position: -24px -168px;
}
.emojis-zebra-face {
    background-position: -48px -168px;
}
.emojis-giraffe-face {
    background-position: -72px -168px;
}
.emojis-rhinoceros {
    background-position: -96px -168px;
}
.emojis-hedgehog {
    background-position: -120px -168px;
}
.emojis-bat {
    background-position: -144px -168px;
}
.emojis-eagle {
    background-position: -168px -168px;
}
.emojis-duck {
    background-position: -192px -0px;
}
.emojis-owl {
    background-position: -192px -24px;
}
.emojis-lizard {
    background-position: -192px -48px;
}
.emojis-sauropod {
    background-position: -0px -0px;
}
.emojis-t-rex {
    background-position: -192px -96px;
}
.emojis-shark {
    background-position: -192px -120px;
}
.emojis-shrimp {
    background-position: -192px -144px;
}
.emojis-squid {
    background-position: -192px -168px;
}
.emojis-butterfly {
    background-position: -0px -192px;
}
.emojis-cricket {
    background-position: -24px -192px;
}
.emojis-wilted-flower {
    background-position: -48px -192px;
}
.emojis-kiwifruit {
    background-position: -72px -192px;
}
.emojis-coconut {
    background-position: -96px -192px;
}
.emojis-avocado {
    background-position: -120px -192px;
}
.emojis-potato {
    background-position: -144px -192px;
}
.emojis-carrot {
    background-position: -168px -192px;
}
.emojis-cucumber {
    background-position: -192px -192px;
}
.emojis-broccoli {
    background-position: -216px -0px;
}
.emojis-peanuts {
    background-position: -216px -24px;
}
.emojis-croissant {
    background-position: -216px -48px;
}
.emojis-baguette-bread {
    background-position: -216px -72px;
}
.emojis-pretzel {
    background-position: -216px -96px;
}
.emojis-pancakes {
    background-position: -216px -120px;
}
.emojis-cut-of-meat {
    background-position: -216px -144px;
}
.emojis-bacon {
    background-position: -216px -168px;
}
.emojis-hot-dog {
    background-position: -216px -192px;
}
.emojis-sandwich {
    background-position: -0px -216px;
}
.emojis-taco {
    background-position: -24px -216px;
}
.emojis-burrito {
    background-position: -48px -216px;
}
.emojis-bowl-with-spoon {
    background-position: -72px -216px;
}
.emojis-green-salad {
    background-position: -96px -216px;
}
.emojis-canned-food {
    background-position: -120px -216px;
}
.emojis-dumpling {
    background-position: -144px -216px;
}
.emojis-fortune-cookie {
    background-position: -168px -216px;
}
.emojis-takeout-box {
    background-position: -192px -216px;
}
.emojis-pie {
    background-position: -216px -216px;
}
.emojis-glass-of-milk {
    background-position: -240px -0px;
}
.emojis-clinking-glasses {
    background-position: -240px -24px;
}
.emojis-tumbler-glass {
    background-position: -240px -48px;
}
.emojis-cup-with-straw {
    background-position: -240px -72px;
}
.emojis-chopsticks {
    background-position: -240px -96px;
}
.emojis-spoon {
    background-position: -240px -120px;
}
.emojis-woman-climbing {
    background-position: -240px -144px;
}
.emojis-man-climbing {
    background-position: -240px -168px;
}
.emojis-woman-in-lotus-position {
    background-position: -240px -192px;
}
.emojis-man-in-lotus-position {
    background-position: -240px -216px;
}
.emojis-person-doing-cartwheel {
    background-position: -0px -240px;
}
.emojis-wrestlers {
    background-position: -24px -240px;
}
.emojis-water-polo {
    background-position: -48px -240px;
}
.emojis-handball {
    background-position: -72px -240px;
}
.emojis-juggling {
    background-position: -96px -240px;
}
.emojis-first-place-medal {
    background-position: -120px -240px;
}
.emojis-second-place-medal {
    background-position: -144px -240px;
}
.emojis-third-place-medal {
    background-position: -168px -240px;
}
.emojis-boxing-glove {
    background-position: -192px -240px;
}
.emojis-martial-arts-uniform {
    background-position: -216px -240px;
}
.emojis-sled {
    background-position: -240px -240px;
}
.emojis-curling-stone {
    background-position: -264px -0px;
}
.emojis-drum-with-drumsticks {
    background-position: -264px -24px;
}
.emojis-scooter {
    background-position: -264px -48px;
}
.emojis-motor-scooter {
    background-position: -264px -72px;
}
.emojis-flying-saucer {
    background-position: -264px -96px;
}
.emojis-orange-heart {
    background-position: -264px -120px;
}
.emojis-black-heart {
    background-position: -264px -144px;
}
.emojis-octagonal-sign {
    background-position: -264px -168px;
}
.emojis-rainbow-flag {
    background-position: -264px -192px;
}
.emojis-pirate-flag {
    background-position: -264px -216px;
}
.emojis-flag-for-england {
    background-position: -264px -240px;
}
.emojis-flag-for-scotland {
    background-position: -0px -264px;
}
.emojis-flag-for-wales {
    background-position: -24px -264px;
}
