[class^="emojis-"], [class*=" emojis-"] {
    background: transparent url("undefined/apple/apple.png") 0 0 no-repeat;
    display: inline-block;
    height: 48px;
    background-size: 144px 144px;
    width: 48px;
    vertical-align: middle;
}

.emojis-grinning-face {
    background-position: -48px -48px;
}
.emojis-winking-face {
    background-position: -96px -0px;
}
.emojis-father-christmas {
    background-position: -96px -48px;
}
.emojis-father-christmas-type-1-2 {
    background-position: -0px -96px;
}
.emojis-father-christmas-type-3 {
    background-position: -48px -96px;
}
.emojis-father-christmas-type-4 {
    background-position: -0px -48px;
}
.emojis-father-christmas-type-5 {
    background-position: -0px -0px;
}
.emojis-father-christmas-type-6 {
    background-position: -48px -0px;
}
