$categoriesListHeight: 24.5rem;
$categoriesListWidth: 26rem;
$categoriesTabsHeight: 3rem;

$popupBorderColor: #c5c9cf;
$popupBackgroundColor: #fff;
$modifiersPopupBorderColor: #c5c9cf;
$categoryTitleColor: #707689;
$categoryTitleBorder: #c5c9cf;
$emojiHoverColor: #f4f4f5;
$categoriesTabsColor: #707689;
$categoriesTabsColorHover: #1bc74e;
$categoriesTabsBorderColor: #c5c9cf;