.emojiModifiersContainer {
    display: block;
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #c5c9cf;
    width: 180px;
    height: 34px;

    .emojiModifiersEmoji {
        margin-right: 5px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }
}